.status {
    color: black;
    display: flex;
    height: 70px;
}

.page-status {    
    float: right;
    display: inline;
    font-size: 13px;
    height: 0;
    font-weight: 100;
    margin-top: -20px;    
}

.login-status {
    font-size: 25px;
    justify-content: center;
    margin: 15px;
}

.question {
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.heading p {
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    background-color: white;    
    max-width: 800px;
    min-width: 200px;
    border-radius: 5px;
    margin: 25px;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    width: 100%;
    margin: 50px;    
}

.error {
    color: red;
}

.answer-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    min-width: 300px;
}

.answer-button {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.login-container {
    color: black;
    background-color: #444;
    margin: 15px;
    height: 100px;
    border-radius: 3px;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin: 5px;
}

